.homepage {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.create-post {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 400px;
    background-color: #aaa;
    margin-bottom: 20px;
}

.search {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 90%;
    height: 400px;
    background-color: #aaa;
}