.movie-card {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 5px;
    height: 100%;
    text-align: center;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.title {
    font-family: 'Oswald', sans-serif;
    font-size: 26px;
}

.genre, .rating, .overview {
    margin: 5px;

}

/* .movie-container {
	position: relative;
	top: 0;
	transition: all 0.6s ease-in-out;
} */

.movie-img {
    max-width: 100%;
    margin-top: 20px;
}

p.overview {
    padding: 8px;
}