.main-nav {
    /* display: flex; */
    /* flex-direction: row; */
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;
    /* position: fixed; */
    top: 0;
    width: 100%;

}

.user-history {
    display: flex;
    flex-direction: row;
    float: left;
}

.user-history div {
    padding: 5px;
}

.login {
    margin-right: 15px;
    float: right;
}

header {
    margin-top: 80px;
}